* {
  font-family: 'Roboto', sans-serif;
}
.app{
  height: 100vh;
  line-height: 1.6;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

}

section{
  scroll-snap-align: center;
}