.courses-section {
    padding: 6em 5em 3em 5em;
    background: linear-gradient(to bottom, #bec3ad, #efda7f, #bec3ad);
    z-index: 100;
    height: 100vh;
    box-sizing: border-box;
}

.cards-header {
    position: relative;
    display: flex;
    z-index: 100;
    width: 80%;
    margin: auto;
}



.courses-header-bg {
    background: linear-gradient(to right, #0a3131, #354e4f, #0a3131);
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1em;
    top: -1em;
    left: -2em;
    z-index: -100;
}


.cards-header h2 {
    font-size: 2em;
    text-orientation: mixed;
    letter-spacing: .05rem;
    color: #edb941;
    z-index: 200;
}

.cards-wrapper {
    z-index: 300;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.cards-wrapper .card-wrapper {
    width: 30%;
    /*flex-grow: 1;*/
    height: 15em;
}

.card-img {
    width: 100px;
    height: 100px;
}
.card-img.teacher {
    padding: 5px;
    width: 95px;
    height: 95px;
}

.card-img img {
    width: 100%;
    height: 100%;
}

.card-header {

}

.card-header p {
    padding: 0;
    margin: 0;
    font-size: 1.4em;
}
.card-text p{
    padding: 0;
    margin: 0;
}

.card-text {

}

@media (max-width: 1200px) {
    .courses-section{
        padding: 6em 1em 3em 1em;
    }
    .card-img.teacher{
        width: 72px;
        height: 72px;
    }
    .card-img{
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 850px) {
    .courses-section{
        /*left: 0;*/
    }
    .card-header p{
        font-size: 1.1em;
    }
    .card-img.teacher{
        width: 55px;
        height: 55px;
    }
    .card-img{
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 780px) {
    .cards-wrapper .card-wrapper{
        margin: .4em;
        padding: .4em;
    }
    .card-text{
        font-size: .8em;
    }
    .cards-header h2{
        font-size: 1.5em;
        padding: 0;
        margin: 0;
    }

}
@media (max-width: 480px) {
    .cards-wrapper .card-wrapper{
        height: auto;
    }
    .cards-wrapper .card-wrapper{
        margin: .2em;
        padding: .2em;
        flex: 1;
    }
    .courses-section{
        padding: 1em 0 3em 0;
    }
}
