.prices-section {
    display: flex;
    flex-direction: column;
    background-image: url("../img/toyBg.jpeg");
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}

.price-card-wrapper {
    flex: 1;
}

.prices-wrapper {
    flex: 2;
    display: flex;
    /*background: linear-gradient(to right, #565656, #0a3131);*/
    /*background: linear-gradient(to right, #0a3131, #354e4f, #0a3131);*/

    /*background-size: cover;*/
    /*background-position: bottom;*/
    padding: 8em 2em 2em 2em;
    box-sizing: border-box;

}


.price-wrapper {
    padding: 1em;
    margin: .5em;
}

.price-header {
    font-size: 1.75em;
}

.plan-description {
    padding: 1.5em 0;
}

.price-point {
    padding: .5em 0;
}

.price {

}

.crossed-price {
    color: #4b7778;
    font-size: 1.2em;
    text-decoration: line-through;
}

.actual-price {
    font-size: 1.5em;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100px;
    padding: 0 10%;
}

.call-to-action-btn-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #565656, #4b7778, #565656);
    width: 100%;
    height: 150px;
}

.call-to-action-btn {
    background: #edb941;
    border-radius: 5em;
    padding: .7em 2em;
    font-size: 1.5em;
    color: #e5dec1;
    cursor: pointer;
    text-decoration: underline;
}